body{

    background-color: #92ccb452;
}
@media (max-width: 768px) {
  .container {
      width: 95%;
  }
}.degradado {
    background: linear-gradient(#c4e7e115, #a3b5f113)
  }
.ti{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color:#000000;
}

.container  {
    display: flex;
    justify-content: space-between; 
  }
 

  .contenedor1, .contenedor2 {
  
    width: 20%;
    height: 2.5%;
    background: linear-gradient(to right, #86d4f381, #c1dfe971);
    color: #fff;
    text-align: center;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 0% 2% 5% #6e726fd8;
    margin: 3%; /* Añadimos un margen a cada contenedor */
  }
  p{
    text-justify: auto;
    size: 24px;
    color: #363535f8;
  }
  img{
margin-top: 20%;
    width:30%;
    size: 30%;
    height: 40%;
  }
  a{
    color: limegreen;
  }
  
  .hp1 {
   
  width: 20%;
  height: .5%;
    text-align: center;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 0% 2% 5% #6e726fd8;
    margin: 3%;
}

.hp2 {
  width: 30%;
  height: .5%;
  text-align: center;
  padding: 2%;
  border-radius: 2%;
  box-shadow: 0% 2% 5% #6e726fd8;
  margin: 3%;
}

.hp3 {
  width: 20%;
  height: .5%;
  text-align: center;
  padding: 2%;
  border-radius: 2%;
  box-shadow: 0% 2% 5% #6e726fd8;
  margin: 3%;
}

  .b{
  
    text-align: right ;
    margin-left: 30px;
    margin-top: 30px;
  }
  i{
    color: limegreen;
  }
  .cro{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  

  }
 .duki{
  margin-left: 21.5%;
  margin-top: 1%;
  width:60%;
  height: 50%;
 }
 


